<nav class="pagination flex gap-x-8 justify-center mt-10" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr;</a>
    {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">&rarr;</a>
    {{/if}}
</nav>